/*Estilos Generales (Pantalla Inicio)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    /*background-color: rgb(234, 234, 251);*/
    background-color: #f5f5f5;
    overflow-x: hidden;
}


/* ----- ESTILOS BASE.HTML -----*/

/* HEADER -- Estilos del menu CSS */


li {
    list-style: none;
}


li a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
}


a:hover {
    color: gray;
}

header {
    background-color: #2F4F4F;
    position: relative;
    padding: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    /*max-width: 1600px;*/
    max-width: 1600px;
    margin: 0.5rem;
    margin-left: 2.5rem;
}


/* Logo Pequeño Tienda */


.deusto_mini_logo {


    height: 5rem;
    width: 3.25rem;
}


.container .titulo_deusto a {
    font-size: 1.4rem;
    color: whitesmoke;
    justify-content: left;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
}


.container .logo_deusto {
    display: flex;
    align-items: center;
}


.container .lista_menu {
    display: flex;
    gap: 2rem;
}


/* Boton de Login */


.login_button {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.15rem;
    text-decoration: none;
    border-radius: 10px;
    justify-content: left;
    margin-right: 2rem;


}


/*MENU VERTICAL*/


.menu_vertical {
    position: absolute;
    left: 2rem;
    top: 70px;
    width: 150px;
    background: rgb(90, 90, 90);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}


.menu_vertical a {
    color: white;
}


.menu_vertical li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MENU RESPONSIVE + FOTO RESPONSIVE*/


@media (max-width: 900px) {
    .container .lista_menu {
        display: none;
    }


    .container .menu_but {
        display: block;
    }


    .menu_vertical {
        display: block;
    }
}


@media (min-width: 900px) {
    .container .menu_but {
        display: none;
    }


    .menu_vertical {
        display: none;
    }
}


@media (max-width: 768px) {
    .slider {
        display: none;
    }


    .foto768 {
        display: flex;
        height: 500px;
        width: 768px;
    }
}


@media (min-width: 768px) {
    .slider {
        display: flex;
    }


    .foto768 {
        display: none;
        margin: 10px 1px;
    }
}

/*FIN DEL HEADER*/


/*FOOTER*/

div .caja {
    background: #2F4F4F;
    display: flex;
    text-align: center;
    padding: 50px 0px 60px 0px;
}

/*estilo texto footer*/

.logo-footer-Deustotil {
    padding: 0px 0px 0px 100px;
}

.logo-footer-Deustotil img {
    margin-top: 25px;
    height: 8rem;
    width: 6rem;
}

.texto-footer {
    width: 350px;
    text-align: left;
    padding: 30px 50px 0px 30px;
}

.texto-footer h3 {
    font-size: 25px;
    font-weight: 700;
    color: #f5f5f5;
}

.texto-footer p {

    color: #f5f5f5;
    font-size: 20px;

}

/*estilo texto sobre nosotros*/
.texto-sobrenosotros {
    text-align: left;
    width: 450px;
    padding: 25px 75px 0px 50px;
}

.texto-sobrenosotros h4 {
    font-size: 25px;
    font-weight: 600;
    color: #f5f5f5;
}

.texto-sobrenosotros p {

    color: #f5f5f5;
    font-size: 15px;

}

/*estilo texto contacto*/
.texto-contacto {
    text-align: left;
    width: 400px;
    padding: 25px 75px 0px 75px;

}

.texto-contacto h4 {
    font-size: 25px;
    font-weight: 600;
    color: #f5f5f5;
}

.texto-contacto i {
    display: flex;

}

.texto-contacto i a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
}

/*estilo imagen */

.foto-footer-confianza {

    text-align: right;
    width: 200px;
    padding: 50px 75px 0px 20px;

}

.foto-footer-confianza img {
    height: 5rem;
    width: 13rem;
}


/*FOOTER RESPONSIVE */

/*movil*/

@media (max-width: 768px) {
    .footer-resizable-1280 {
        display: none;
    }

    .footer-normal {
        display: none;
    }
}

/*ordenador*/

@media (min-width: 1280px) {
    .footer-resizable-1280 {
        display: none;
    }

    .footer-resizable-768 {
        display: none;
    }
}

/*tablet*/

@media (min-width: 768px) {
    .footer-resizable-768 {
        display: none;
    }
}

@media (max-width: 1280px) {
    .footer-normal {
        display: none;
    }
}

/*FIN DEL FOOTER*/


/*----- FIN DEL BASE.HTML ------*/


/* ------TAREA_LIST------- */


.tablaTareas {
    width: 95%;
    border-collapse: collapse;
    margin-left: 4rem;
}


th,
td {


    padding: 1rem;


    font-size: 3rem;
    text-align: center;
}


th:hover,
td:hover {
    background-color: #1a579c;
    color: white;
}


th {
    background-color: #f2f2f2;
}


/* FIN DE TAREA_LIST*/


/*INICIO DE EMPLEADO LIST*/

.container-empleados {

    display: grid; /*  Técnica Display Grid */
    /* 3x2 */
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(2, 550px);

    gap: 40px;
    padding: 20px;
    background: whitesmoke;
    height: 1300px;
    margin-top: 100px;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.ruta_pagina {
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* empleados */
.empleado {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 500px;
    text-align: center;
}

/*Cuando pasamos cursor por encima*/
.empleado:hover {
    border-color: #2F4F4F;
    box-shadow: 0 0 10px #2F4F4F;
    /*background-color: #b1cdcd;*/
}

/*Retocamos la imagen (250x250)*/
.empleado img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.empleado h2 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
}

.empleado p {
    color: rgb(69, 69, 69);
    padding-top: 10px;
}

.empleado h3 {
    color: #2F4F4F;
    padding: 20px;
    /*text-align: center;*/
    font-size: 25px;
}

/*Estilo botón de comprar*/

.boton_acceder {
    background-color: #2F4F4F;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.boton_comprar:hover {
    color: black;
    background-color: rgb(243, 208, 144);
}
