/*Estilos Generales (Pantalla Inicio)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    /*background-color: rgb(234, 234, 251);*/
    background-color: #f5f5f5;
    overflow-x: hidden;
}

/*ruta de la pagina de navegacion*/
.ruta_pagina {
    width: 100%;
    height: 30px;
}

.ruta_pagina h3 {
    margin: 20px 0px 0px 15px;
    font-size: 20px;
    font-weight: 200;
    color: black;
}



/**/
/* HEADER -- Estilos del menu CSS */

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
}

a:hover {
    color: gray;
}


header {
    background-color: #2F4F4F;
    position: relative;
    padding: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    width: 100%;
    height: 75px;
    /*max-width: 1600px;*/
    max-width: 1600px;
    margin: 0.5rem;
    margin-left: 2.5rem;
}

                     /* Logo Pequeño Tienda */

.deusto_mini_logo {

    height: 5rem;
    width: 3.25rem;
}

.container .titulo_deusto a{
    font-size: 1.4rem;
    color: whitesmoke;
    justify-content: left;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
}

.container .logo_deusto{
    display: flex;
    align-items: center;
}

.container .lista_menu {
    display: flex;
    gap: 5rem;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex: 1;
}

          /* Boton de Login */

.login_button{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.15rem;
    text-decoration: none;
    border-radius: 10px;
    justify-content: left;
    margin-right: 2rem;

}

       /*Submenús*/

             /* Submenú empleado*/
.submenu_empleados {
    display: none;
    position: absolute;
    background-color: #2F4F4F;
    /*margin-top: 1rem;*/
    border-radius: 10px;
    z-index: 1000;
}

.lista_menu li:hover .submenu_empleados {
    display: block;
}
.has-submenu:hover .submenu_empleados {
    display: block;
}

.submenu_empleados li {
    padding: 0.5rem 1rem;
}

/*MENU VERTICAL*/


.menu_vertical {
    position: absolute;
    left: 2rem;
    top: 70px;
    width: 150px;
    background: rgb(90, 90, 90);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}


.menu_vertical a {
    color: white;
}


.menu_vertical li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MENU RESPONSIVE + FOTO RESPONSIVE*/


@media (max-width: 900px) {
    .container .lista_menu {
        display: none;
    }


    .container .menu_but {
        display: block;
    }


    .menu_vertical {
        display: block;
    }
}


@media (min-width: 900px) {
    .container .menu_but {
        display: none;
    }


    .menu_vertical {
        display: none;
    }
}


@media (max-width: 768px) {
    .slider {
        display: none;
    }


    .foto768 {
        display: flex;
        height: 500px;
        width: 768px;
    }
}


@media (min-width: 768px) {
    .slider {
        display: flex;
    }


    .foto768 {
        display: none;
        margin: 10px 1px;
    }
}

/*FIN DEL HEADER*/


/*FOOTER*/

div .caja {
    background: #2F4F4F;
    display: flex;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

/*estilo texto footer*/

.logo-footer-Deustotil {
    padding: 0px 0px 0px 100px;
}

.logo-footer-Deustotil img {
    margin-top: 25px;
    height: 8rem;
    width: 6rem;
}

.texto-footer {
    width: 350px;
    text-align: left;
    padding: 30px 50px 0px 30px;
}

.texto-footer h3 {
    font-size: 25px;
    font-weight: 700;
    color: #f5f5f5;
}

.texto-footer p {

    color: #f5f5f5;
    font-size: 20px;

}

/*estilo texto sobre nosotros*/
.texto-sobrenosotros {
    text-align: left;
    width: 450px;
    padding: 25px 75px 0px 50px;
}

.texto-sobrenosotros h4 {
    font-size: 25px;
    font-weight: 600;
    color: #f5f5f5;
}

.texto-sobrenosotros p {

    color: #f5f5f5;
    font-size: 15px;

}

/*estilo texto contacto*/
.texto-contacto {
    text-align: left;
    width: 400px;
    padding: 25px 75px 0px 75px;

}

.texto-contacto h4 {
    font-size: 25px;
    font-weight: 600;
    color: #f5f5f5;
}

.texto-contacto i {
    display: flex;

}

.texto-contacto i a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
}

/*estilo imagen */

.foto-footer-confianza {

    text-align: right;
    width: 200px;
    padding: 50px 75px 0px 20px;

}

.foto-footer-confianza img {
    height: 5rem;
    width: 13rem;
}


/*FOOTER RESPONSIVE */

/*movil*/

@media (max-width: 768px) {
    .footer-resizable-1280 {
        display: none;
    }

    .footer-normal {
        display: none;
    }
}

/*ordenador*/

@media (min-width: 1280px) {
    .footer-resizable-1280 {
        display: none;
    }

    .footer-resizable-768 {
        display: none;
    }
}

/*tablet*/

@media (min-width: 768px) {
    .footer-resizable-768 {
        display: none;
    }
}

@media (max-width: 1280px) {
    .footer-normal {
        display: none;
    }
}

/*FIN DEL FOOTER*/


/*----- FIN DEL BASE.HTML ------*/


/* ------TAREA_LIST------- */


.tablaTareas {
    width: 95%;
    border-collapse: collapse;
    margin-left: 4rem;
}


th,
td {


    padding: 1rem;


    font-size: 2rem;
    text-align: center;
}


th:hover,
td:hover {
    background-color: #2F4F4F;
    color: white;
}


th {
    background-color: #f2f2f2;
}


/* FIN DE TAREA_LIST*/


/*INICIO DE EMPLEADO LIST*/

.container-empleados {

    display: grid; /*  Técnica Display Grid */
    /* 3x2 */
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 470px);

    gap: 40px;
    padding: 20px;
    background: whitesmoke;
    height: 1450px;
    margin-top: 100px;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}


/* empleados */
.empleado {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
}

/*Cuando pasamos cursor por encima*/
.empleado:hover {
    border-color: #2F4F4F;
    box-shadow: 0 0 10px #2F4F4F;
    /*background-color: #b1cdcd;*/
}

/*Retocamos la imagen (250x250)*/
.empleado img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.empleado h2 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
    margin-bottom: 15px;
}


/*Estilo botón de comprar*/

.boton_acceder {
    background-color: #2F4F4F;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.boton_acceder:hover {
    color: black;
    background-color: rgb(243, 208, 144);
}

/*INICIO DE EMPLEADO LIST*/

.container-empleados {

    display: grid; /*  Técnica Display Grid */
    /* 3x2 */
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 470px);

    gap: 40px;
    padding: 20px;
    background: whitesmoke;
    height: 1450px;
    margin-top: 100px;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}


/* empleados */
.empleado {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
}

/*Cuando pasamos cursor por encima*/
.empleado:hover {
    border-color: #2F4F4F;
    box-shadow: 0 0 10px #2F4F4F;
    /*background-color: #b1cdcd;*/
}

/*Retocamos la imagen (250x250)*/
.empleado img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.empleado h2 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
    margin-bottom: 15px;
}


/*Estilo botón de comprar*/

.boton_acceder {
    background-color: #2F4F4F;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.boton_acceder:hover {
    color: black;
    background-color: rgb(243, 208, 144);
}

/*opcion responsive*/

@media (max-width: 1280px) {
    .container-empleados {

        display: grid; /*  Técnica Display Grid */
        /* 3x2 */
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(4, 470px);
        height: 2000px;
    }
}

@media (max-width: 780px) {
    .container-empleados {

        display: grid; /*  Técnica Display Grid */
        /* 3x2 */
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(8, 470px);
        height: 4000px;
    }
}

/*FINAL DE EMPLEADO LIST*/

/*INICIO EMPLEADO-DETAIL*/

.contenedor-empleado {
    display: flex;
    margin-bottom: 150px;
}

/*IMAGEN DEL PRODUCTO*/

.contenedor-empleado-imagen {

    width: 500px;
    margin: 50px 20px 20px 50px;

}

.contenedor-empleado-imagen img {
    position: relative; /*podemos desplazar la imagen*/
    width: 450px;
    height: 350px;
    padding-right: 15px;
    padding-left: 15px;
}

.contenedor-empleado-imagen-1280 {

    width: 300px;
    margin: 50px 20px 20px 50px;

}

.contenedor-empleado-imagen-1280 img {
    position: relative; /*podemos desplazar la imagen*/
    width: 250px;
    height: 125px;
    padding-right: 15px;
    padding-left: 15px;
}


/*TEXTO DEL EMPLEADO*/

.contenedor-empleado-texto {
    flex: 1; /* El contenido principal ocupa el espacio restante */
    margin: 1rem;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    margin-right: 130px;
    margin-left: 50px;
    margin-top: 40px;
    min-width: 300px;
    border: 1px solid #535353;
    border-radius: 10px;
    padding-left: 40px;

}

.contenedor-empleado-texto h2 {
    color: #2F4F4F;
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 40px;
}

.contenedor-empleado-texto h4 {
    color: #2F4F4F;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}


/*responsive empleados detail*/
/*tablet*/

@media (max-width: 1280px) {
    .contenedor-empleado-imagen {
        display: none;
    }
}

@media (min-width: 1280px) {

    .contenedor-empleado-imagen-1280 {
        display: none;
    }

}


/*FINAL DE EMPLEADO-DETAIL*/

/*IMAGEN DEL PRODUCTO*/

.contenedor-empleado-imagen {

    width: 500px;
    margin: 50px 20px 20px 50px;

}

.contenedor-empleado-imagen img {
    position: relative; /*podemos desplazar la imagen*/
    width: 450px;
    height: 350px;
    padding-right: 15px;
    padding-left: 15px;
}


/*TEXTO DEL EMPLEADO*/

.contenedor-empleado-texto {
    flex: 1; /* El contenido principal ocupa el espacio restante */
    margin: 1rem;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    margin-right: 130px;
    margin-left: 50px;
    min-width: 300px;

}

.contenedor-empleado-texto h2 {
    color: #2F4F4F;
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 40px;
}

.contenedor-empleado-texto h4 {
    color: #2F4F4F;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}


/*FINAL DE EMPLEADO-DETAIL*/


/*INICIO PROYECTO LIST*/


/*INICIO PROYECTO LIST*/


.container-proyectos {

    display: grid; /*  Técnica Display Grid */
    /* 3x2 */
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 470px);

    gap: 40px;
    padding: 20px;
    background: whitesmoke;
    height: 1450px;
    margin-top: 100px;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}


/* empleados */
.proyecto {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
}

/*Cuando pasamos cursor por encima*/
.proyecto:hover {
    border-color: #2F4F4F;
    box-shadow: 0 0 10px #2F4F4F;
    /*background-color: #b1cdcd;*/
}

/*Retocamos la imagen (250x250)*/
.proyecto img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.proyecto h2 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
    margin-bottom: 15px;
}


/*Estilo botón de comprar*/

.boton_acceder {
    background-color: #2F4F4F;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.boton_acceder:hover {
    color: black;
    background-color: rgb(243, 208, 144);
}

/*opcion responsive*/

@media (max-width: 1280px) {
    .container-proyectos {

        display: grid; /*  Técnica Display Grid */
        /* 3x2 */
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 470px);
        height: 1800px;
    }
}

@media (max-width: 780px) {
    .container-proyectos {

        display: grid; /*  Técnica Display Grid */
        /* 3x2 */
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(6, 470px);
        height: 3000px;
    }
}


/* empleados */
.proyecto {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
}

/*Cuando pasamos cursor por encima*/
.proyecto:hover {
    border-color: #2F4F4F;
    box-shadow: 0 0 10px #2F4F4F;
    /*background-color: #b1cdcd;*/
}

/*Retocamos la imagen (250x250)*/
.proyecto img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.proyecto h2 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
    margin-bottom: 15px;
}


/*Estilo botón de comprar*/

.boton_acceder {
    background-color: #2F4F4F;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.boton_acceder:hover {
    color: black;
    background-color: rgb(243, 208, 144);
}

/*FINAL DE PROYECTO LIST*/









/*ESTILOS GENERALES PARA LOS CREATE*/

.nuevop {
    text-align: center;
    font-size: 2rem;
    margin-right: 33rem;
    margin-left: 33rem;
    margin-bottom: 2rem;
}

/*FIN DE LOS CREATE*/

/*INDEX*/

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    flex: 1 0 33.33%;
    margin: 4rem;
    text-align: center;
    font-size: 2rem;
}

.enlacesInicio {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: rgb(243, 208, 144);
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enlacesInicio:hover {
    background-color: white;
}


/*FIN INDEX*/









/*INICIO DE PROYECTO DETAIL*/


.contenedor-proyecto {
    display: flex;
    margin-bottom: 150px;
}

/*IMAGEN DEL PRODUCTO*/

.contenedor-proyecto-imagen {

    width: 500px;
    margin: 50px 20px 20px 50px;

}

.contenedor-proyecto-imagen img {
    position: relative; /*podemos desplazar la imagen*/
    width: 450px;
    height: 350px;
    padding-right: 15px;
    padding-left: 15px;
}


/*TEXTO DEL EMPLEADO*/

.contenedor-proyecto-texto {
    flex: 1; /* El contenido principal ocupa el espacio restante */
    margin: 1rem;
    padding: 2rem 1rem;
    margin-top: 40px;
    margin-bottom: 3rem;
    margin-right: 130px;
    margin-left: 50px;
    min-width: 300px;

    border: 1px solid #535353;
    border-radius: 10px;
    padding-left: 40px;

}

.contenedor-proyecto-texto h2 {
    color: #2F4F4F;
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 40px;
}

.contenedor-proyecto-texto h4 {
    color: #2F4F4F;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}

.contenedor-proyecto-texto a {
    text-decoration: none;
    font-weight: bolder;
}

.contenedor-empleado-texto a:hover {
    color: orange;
}


/*FINAL DE PROYECTO DETAIL*/




