<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>{% block titulo %}Proyectos Deustotil Tech S.L.{% endblock %}</title>
</head>
<body>
<div id="content">
    <h1>Proyectos Deustotil Tech S.L.</h1>
    {% block contenido %}{% endblock %}

</div>
</body>
</html>