{% extends 'base.html' %}

{% block contenido %}

    <body>
    <main>

        <div class="info-box">
            <div class="box">
                <h2>Proyectos</h2>
                <p>Nuestros proyectos : </p>
                <a class="enlacesInicio" href="/appDeustotil_Tech/proyectos">Ver Proyectos</a>
            </div>
            <div class="box">
                <h2>Tareas</h2>
                <p>Nuestras tareas : </p>
                <a class="enlacesInicio" href="/appDeustotil_Tech/tareas">Ver Tareas</a>
            </div>
            <div class="box">
                <h2>Empleados</h2>
                <p>Nuestros empleados : </p>
                <a class="enlacesInicio" href="/appDeustotil_Tech/empleados">Ver Empleados</a>
            </div>
        </div>
    </main>
    </body>

{% endblock %}

