<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Inicio - appDeustotil_Tech</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Deustotil_Tech" />
      <nav>
        <ul>
          <li>
            <a href="proyectos.html">Proyectos</a>
          </li>
          <li>
            <a href="tarea.html">Tarea</a>
          </li>
          <li>
            <a href="empleado.html">Empleado</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="slider">
        <img src="slide1.jpg" alt="Slide 1" />
        <img src="slide2.jpg" alt="Slide 2" />
        <img src="slide3.jpg" alt="Slide 3" />
      </div>

      <div class="info-box">
        <div class="box">
          <h2>Título de la Caja 1</h2>
          <p>Texto descriptivo de la Caja 1.</p>
          <img src="imagen1.jpg" alt="Imagen 1" />
          <a href="#" class="btn">Botón 1</a>
        </div>
        <div class="box">
          <h2>Título de la Caja 2</h2>
          <p>Texto descriptivo de la Caja 2.</p>
          <img src="imagen2.jpg" alt="Imagen 2" />
          <a href="#" class="btn">Botón 2</a>
        </div>
        <div class="box">
          <h2>Título de la Caja 3</h2>
          <p>Texto descriptivo de la Caja 3.</p>
          <img src="imagen3.jpg" alt="Imagen 3" />
          <a href="#" class="btn">Botón 3</a>
        </div>
      </div>
    </main>
</body>
    <footer>
      <div class="">
        <h3>Información de Contacto</h3>
        <p>Dirección: Dirección de la empresa</p>
        <p>Teléfono: 123456789</p>
      </div>
      <div class="columna">
        <h3>Redes Sociales</h3>
        <ul>
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Instagram</a>
          </li>
        </ul>
      </div>
    </footer>
</html>
