{% extends 'base.html' %}

{% block contenido %}

    <h2> Detalle del proyecto</h2>
    {% if proyecto %}
        <ul>
           <li>{{ proyecto.nombre }}</li>
           <li>{{ proyecto.descripcion }}</li>
           <li>{{ proyecto.fecha_inicio }}</li>
           <li>{{ proyecto.fecha_fin }}</li>
           <li>{{ proyecto.presupuesto }}</li>
           <li>{{ proyecto.datos_cliente }}</li>
           <li>{{ proyecto.jefe_proyecto}}</li>
        </ul>

    {% else %}
        <p> No existe este proyecto.</p>
    {% endif %}


{% endblock %}