{% extends 'base.html' %}

{% block contenido %}
    <h2>Detalle de la tarea</h2>
    {% if tarea %}
        <div class="ruta_pagina">
            <h3> Deustotil_Tech / Empleado / {{ empleado.id }}</h3>
        </div>

        <div class="contenedor-empleado">
            <section class="contenedor-empleado-texto">
                <h2> {{ tarea.nombre }} </h2>
                <h4> DESCRIPCION : {{ tarea.descripcion }}</h4>
                <h4> PROYECTO : {{ tarea.proyecto }}</h4>
            </section>
        </div>
        

    {% else %}
        <p>No existe este empleado.</p>
    {% endif %}
{% endblock %}
