{% extends 'base.html' %}

{% block contenido %}

    <div class="ruta_pagina">
        <h3> Deustotil_Tech / Tareas</h3>
    </div>

    <table class="tablaTareas">
        <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Fecha límite</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Empleado</th>
            <th>Proyecto</th>
        </tr>
        </thead>
        <tbody>
        {% if tarea %}
            {% for tarea in tarea %}

                <tr>
                    <td>
                        <a href="/appDeustotil_Tech/tarea/{{ tarea.id }}" class="boton_acceder"> Acceder</a></td>
                    <td>{{ tarea.nombre }}</td>
                    <td>{{ tarea.fecha_fin }}</td>
                    <td>{{ tarea.prioridad }}</td>
                    <td>{{ tarea.estado }}</td>
                    <td>{{ tarea.empleado }}</td>
                    <td>{{ tarea.proyecto }}</td>
                </tr>

            {% endfor %}


        {% else %}
            <p>No hay ninguna tarea</p>
        {% endif %}


        </tbody>
    </table>

{% endblock %}